.fruit {
  position: absolute;
  width: 100px;
  height: 100px;
}

.shelf {
  display: flex;
  flex-direction: row;
}

.fridge {
  transform: translate(50px, 50px);
  padding: 20px;
  width: 250px;
  height: 480px;
  border: 10px solid yellow;
}

.door {
  position: absolute;
  transform: translate(-20px, 20px);
  width: 370px;
  height: 550px;
  z-index: 3;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(3000px) translateZ(0px) translateX(350px) translateY(20px) rotateY(95deg);
}

.container {
  height: 50vh;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
