.fruit {
  width: 100px;
  height: 100px;
}

.shelf {
  display: flex;
  flex-direction: row;
}

.fridge {
  transform: translate(50px, 50px);
  padding: 20px;
  width: 250px;
  border: 10px solid yellow;
}

.door {
  position: absolute;
  transform: translate(50px, 50px);
  background-color: brown;
  width: 335px;
  height: 520px;
  z-index: 3;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(2000px) translateZ(0px) translateX(200px) translateY(200px) rotateY(-105deg);
}

.container {
  height: 50vh;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
